button {
    border-radius: 2px;
    width: 150px;
    height: 46px;
    cursor: pointer
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border: 1px solid #33A0FF;
}

.button-outline {
    color: #33A0FF;
    background-color: white;
    border:1px solid #33A0FF;
}

.button-gradient {
    background-color:#33A0FF1F;
    color: #33A0FF;
    border: #33A0FF1F;
}

.button-big {
    width: 171px;
    height: 60px;
}