button {
    border-radius: 2px;
    padding: 7px 15px;
    cursor: pointer
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border: 1px solid #33A0FF;
}

.button-outline {
    color: #33A0FF;
    background-color: white;
    border:1px solid #33A0FF;
}

.button-gradient {
    
}