.black {
    height: 18px;
    width: 18px;
    border: 1px solid #22262A;
    background-color: white;
}

.black:hover {
    background-color: grey;
}

.black:checked{
    background-color: #22262A;
}

.blue {
    height: 18px;
    width: 18px;
    border: #33A0FF;
}